@import "normalize.css/normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

html,
body {
  height: 100%;
}

.bp6-dark {
  background-color: #252a31;
}

.button-group-separator {
  margin: 0 8px;
  border-left: 1px solid #ccc;
  height: 24px;
  align-self: center;
}

.extension-root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: max-content;
  overflow-y: auto;
  padding: 0.25rem;
}

.flexbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
  padding: 0.25rem;
}

.grow {
  flex: 1;
}

.stack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
}

.tab-panel {
  box-sizing: border-box;
  flex: 1;
  overflow-y: auto;
}

.vertical-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
