@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
  height: 100%;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
